<?xml version="1.0" encoding="UTF-8"?>
<ruleset xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="vendor/squizlabs/php_codesniffer/phpcs.xsd">
    <file>src/</file>
    <file>tests/</file>

    <arg name="extensions" value="php"/>
    <arg name="tab-width" value="4"/>
    <arg name="basepath" value="."/>
    <arg name="colors"/>
    <arg value="s"/>
    <arg value="p"/>

    <rule ref="PSR12"/>

    <rule ref="SlevomatCodingStandard.Files.TypeNameMatchesFileName">
        <properties>
            <property name="rootNamespaces" type="array">
                <element key="src" value="Evergrowth\PaidAiPhpClient"/>
                <element key="tests" value="Evergrowth\PaidAiPhpClientTests"/>
            </property>
        </properties>
    </rule>
</ruleset>
